src/main/mule/service-exp.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="service-exp-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="service-exp-config" api="service-exp.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="service-exp-main">
        <http:listener config-ref="service-exp-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="service-exp" doc:name="appName" doc:id="f0c96942-4a56-44a7-805c-cb14c79baded" variableName="appName" />
        <apikit:router config-ref="service-exp-config" doc:name="APIkit Router " />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="service-exp-console">
        <http:listener config-ref="service-exp-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="service-exp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\product:application\json:service-exp-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  name: "test",
  regPrice: "12.5",
  salePrice: "13.5",
  Uuid: "testUuid",
  sku: "456464431",
  "type": "productType"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\product:service-exp-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  name: "test",
  regPrice: "12.5",
  salePrice: "13.5",
  Uuid: "testUuid",
  sku: "456464431",
  "type": "productType"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers:application\json:service-exp-config">
        <flow-ref doc:name="sendRequestTo_Customer-proc" doc:id="0c7629ad-dbb5-47df-973d-03d6315dd420" name="sendRequestTo_Customer-proc" />
    </flow>
    <flow name="post:\product:application\json:service-exp-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"product added."]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(id):service-exp-config">
        <flow-ref doc:name="getCustomerBy_CustomerId" doc:id="143bdb4a-a693-408c-b35e-56570dcdcd01" name="getCustomerBy_CustomerId" />
    </flow>
    <flow name="get:\customers\checkbyemail:service-exp-config">
        <flow-ref doc:name="getCustomerByEmail" doc:id="b1010061-214f-47b8-ad4e-40d16b3ece61" name="getCustomerByEmail" />
    </flow>
    <flow name="get:\giftcards:service-exp-config">
        <flow-ref doc:name="Call giftcards-get-subFlow" doc:id="a70c8590-94e6-4a6f-9552-7c39841dfdbc" name="giftcards-get-subFlow" />
    </flow>
    <flow name="get:\orders\history:service-exp-config">
        <flow-ref doc:name="get-OrderHistory-flow" doc:id="ad974fdf-601a-47a8-934a-4b364a6f2954" name="get-OrderHistory-flow" />
    </flow>
    <flow name="post:\giftcards\authorizetransaction:application\json:service-exp-config">
        <flow-ref doc:name="Call giftcards-authorizeTransaction-subFlow" doc:id="e68915f7-e67f-4b31-931e-206eb7bf1608" name="giftcards-authorizeTransaction-subFlow" />
    </flow>
    <flow name="post:\giftcards:application\json:service-exp-config">
        <flow-ref doc:name="Call giftcards-create-subFlow" doc:id="ca3fc750-4177-4e91-9110-4d87e2f8feb5" name="giftcards-create-subFlow" />
    </flow>
    <flow name="get:\orders\historydetails:service-exp-config">
        <flow-ref doc:name="get-orderHistoryDetails-subFlow" doc:id="0bb3db9a-06fc-472e-bfdf-b52a969fea0b" name="get-orderHistoryDetails-subFlow" />
    </flow>
    <flow name="get:\customers:service-exp-config">
        <flow-ref doc:name="getCustomerRecordByEmail" doc:id="724510fa-f576-4db7-9bc2-c161dbf608a5" name="getCustomerRecordByEmail" />
    </flow>
    <flow name="post:\emails\(emailType):application\json:service-exp-config">
        <flow-ref doc:name="send-email-request-to-customerProc" doc:id="b9335c5d-bedf-4274-be40-b566eeffef49" name="send-email-request-to-customerProc" />
    </flow>
    <flow name="post:\giftcards\paymentreversal:application\json:service-exp-config">
        <flow-ref doc:name="giftcards-paymentReversal-subFlow" doc:id="1ddc3026-a11b-42d4-97c0-4144307cbc52" name="giftcards-paymentReversal-subFlow" />
    </flow>
    <flow name="post:\v2\customers:application\json:service-exp-config">
        <flow-ref doc:name="v2-customer-implementation-subFlow" doc:id="c1b79997-01e7-482e-9f79-074287890c8b" name="v2-customer-implementation-subFlow" />
    </flow>
    <flow name="post:\orders\getfraudstatus:application\json:service-exp-config">
		<flow-ref doc:name="Call get-orderFraudStatus-subFlow" doc:id="38655980-ca6c-41f2-9a05-45f79b34196c" name="get-orderFraudStatus-subFlow"/>
    </flow>
</mule>
